@import "tailwindcss";

body {
    position: relative;
    background-image: url('/yarn.svg');
    background-size: 400px;
    background-position: center;
    background-repeat: repeat;
    background-color: white;
}